* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
  display: flex;
  font-family: 'Muli', sans-serif;
  box-sizing: border-box;
}

#root {
  background: url('.././public/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 60vw;
  height: 80%;
  padding: 40px;
  min-width: 1052px;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  border: 2px solid rgba(255,255,255,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.contract, .existing-contracts {
  height: 80%;
  margin: 20px;
  display: inline-block;
  padding: 40px;
  border: 1px solid #ddd;
  background-color: rgba(255,255,255,0.85);
}

.contract {
  border-radius: 20px 0 0 20px;
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.existing-contracts {
  width: 60%;
  border-radius: 0 20px 20px 0;
}

h1 {
  margin: 10px;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 15px;
}

input[type="text"] {
  padding: 8px;
  margin-top: 15px;
  font-size: 18px;
  outline: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  background-color: #f58427;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 50px;
  font-size: 14px;
  letter-spacing: 1px;
  outline: none;
  border: none;
  cursor: pointer;
}

.existing-contract ul {
  padding: 10px;
  margin: 20px;
  background-color: #eee;
}

.existing-contract ul > li {
  list-style: none;
  display: flex;
  margin: 10px;
}

.existing-contract ul > li > div {
  margin: 0 5px;
}

.existing-contract ul > li > :first-child {
  font-weight: bold;
}

#container {
  height: 85%;
  width: 100%;
  overflow-y: auto;
}

.existing-contract .complete {
  color: #5aa75a;
  text-align: center;
}
